@model BonVoyage_TravelAgency.Models.BookingFilterModel

@{
    ViewData["Title"] = "Bookings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Tour bookings</h3>
<br />

<form method="get">
    <div>
        <label>User: </label>
        <input asp-for="User" />

        <label>Status: </label>
        <input asp-for="Status" />
        <button type="submit" style = "margin-top: 0px;" class="btn btn-default">Filter</button>
       @*  <input type="submit" value="Filter" /> *@
    </div>
</form>

<br />

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th>User email</th>
                <th>Tour</th>
                <th>Booking date</th>
                <th>Number of people</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Bookings != null) 
            {
                @foreach (var item in Model.Bookings)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.User)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserMail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tour)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BookingDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumberOfPeople)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>    

                        <td>                            
                           <a asp-controller="Booking" asp-action="Edit" asp-route-id="@item.BookingId" class="link">Edit status |</a>
                            <a href="#" onclick="confirmDelete(@item.BookingId)">Delete</a>
                        </td>
                    </tr>
                }
            } 
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        $(document).ready(function () {
            var errorMessage = '@TempData["ErrorMessage"]';
            if (errorMessage) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: errorMessage
                });
            }
       });

        function confirmDelete(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '@Url.Action("DeleteConfirmed", "Booking")',
                        type: 'POST',
                        data: { id: id },
                        success: function (response) {
                            if (response.success) {
                                Swal.fire(
                                    'Deleted!',
                                    response.message,
                                    'success'
                                ).then(() => {
                                    location.reload();
                                });
                            } else {
                                Swal.fire(
                                    'Error!',
                                    response.message,
                                    'error'
                                );
                            }
                        },
                        error: function (xhr, status, error) {
                            Swal.fire(
                                'Error!',
                                'An error occurred while deleting the Booking.',
                                'error'
                            );
                        }
                    });
                }
            });
        }

    </script>

}
