@model IEnumerable<BonVoyage.DAL.Entities.CustomerPreference>

@{
    ViewBag.Title = "Index";
}

<h2>List of Customer Preferenceі</h2>

<p>
    <a asp-action="Create">Add a new Preference</a>    
</p>
<table class="table-condensed" style="width:100%">
    <tr>
        <th>Preferences</th>
        <th>User</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PreferencesDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User)
        </td>
        <td>
            <a asp-action="Details"     asp-route-id="@item.CustomerPreferenceId">Details</a> |
            <a asp-action="Edit"        asp-route-id="@item.CustomerPreferenceId">Edit</a> |
            <a asp-action="Delete"      asp-route-id="@item.CustomerPreferenceId">Delete</a>                
        </td>
    </tr>
}
</table>