@model BonVoyage_TravelAgency.Models.ToursPhotosViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";   
}


<div class="login-container">
    <a class="navbar-brand font" href="#" style="color:#a7a6be;">Registration</a>
    <div class="login-form">

    <form method="post" action="/Account/Login">
        <input type="text" name="login" placeholder="Login" required />
        <input type="password" name="password" placeholder="Password" required />
        <button type="submit">Login</button>
    </form>
</div>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome to BonVoyage</h1>
    <a href="~/Index.html">All our tours</a>
    <hr />
    <h3 id="toggleTours" class="clickable-header">Discover our discounted tours and best deals:</h3>
</div>

<div class="container" id="toursContainer" style="display: none;">
    <div class="row">
      
        @foreach (var tour in Model.Tours)
        {
            var tourPhoto = Model.TourPhotos.FirstOrDefault(tp => tp.TourId == tour.TourId);
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    @if (tourPhoto != null)
                    {
                        <img src="@tourPhoto.PhotoUrl" class="card-img-top" alt="Image">
                    }
                    <div class="card-body">
                        <h5 class="card-title">@tour.Title</h5>
                        <p class="card-text">@tour.Description</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Duration: @tour.Duration days</li>
                            <li class="list-group-item">Price: $@tour.Price</li>
                            <li class="list-group-item">Country: @tour.Country</li>
                            <li class="list-group-item">Route: @tour.Route</li>
                        </ul>
                        <div class="card-footer">
                            <small class="text-muted">Start Date: @tour.StartDate.ToShortDateString()</small>
                            <br />
                            <small class="text-muted">End Date: @tour.EndDate.ToShortDateString()</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    document.getElementById('toggleTours').addEventListener('click', function () {
        var toursContainer = document.getElementById('toursContainer');
        if (toursContainer.style.display === 'none') {
            toursContainer.style.display = 'block';
        } else {
            toursContainer.style.display = 'none';
        }
    });

</script>
