@model BonVoyage_TravelAgency.Models.ToursPhotosViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";   
}

<div class="text-center">
    <h1 class="display-4">Welcome to BonVoyage</h1>
    <a href="~/Index.html">All our tours</a>
    <hr />
    <h3 id="toggleTours" class="clickable-header">Discover our discounted tours and best deals:</h3>
</div>

<div class="container" id="toursContainer" style="display: none;">
    <div class="row">
      
        @foreach (var tour in Model.Tours)
        {
            var tourPhoto = Model.TourPhotos.FirstOrDefault(tp => tp.TourId == tour.TourId);
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    @if (tourPhoto != null)
                    {
                        <img src="@tourPhoto.PhotoUrl" class="card-img-top" alt="Image">
                    }
                    <div class="card-body">
                        <h5 class="card-title">@tour.Title</h5>
                        <p class="card-text">@tour.Description</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Duration: @tour.Duration days</li>
                            <li class="list-group-item">Price: $@tour.Price</li>
                            <li class="list-group-item">Country: @tour.Country</li>
                            <li class="list-group-item">Route: @tour.Route</li>
                        </ul>
                        <div class="card-footer">
                            <small class="text-muted">Start Date: @tour.StartDate.ToShortDateString()</small>
                            <br />
                            <small class="text-muted">End Date: @tour.EndDate.ToShortDateString()</small>
                        </div>
                        @if (Context.Session.GetString("UserId") != null)
                        {
                            <div>
                                <a asp-action="Create" asp-controller="Booking" class=" link" asp-route-id="@tour.TourId">Book</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }

        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item @(Model.PageViewModel.HasPreviousPage ? "" : "disabled")">
                    <a class="page-link" href="@Url.Action("Index", new { pageNumber = Model.PageViewModel.PageNumber - 1 })">Previous</a>
                </li>
                @for (int i = 1; i <= Model.PageViewModel.TotalPages; i++)
                {
                    <li class="page-item @(i == Model.PageViewModel.PageNumber ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index", new { pageNumber = i })">@i</a>
                    </li>
                }
                <li class="page-item @(Model.PageViewModel.HasNextPage ? "" : "disabled")">
                    <a class="page-link" href="@Url.Action("Index", new { pageNumber = Model.PageViewModel.PageNumber + 1 })">Next</a>
                </li>
            </ul>
        </nav>


    </div>
</div>

<script>
  
    document.getElementById('toggleTours').addEventListener('click', function () {
        var toursContainer = document.getElementById('toursContainer');
        if (toursContainer.style.display === 'none') {
            toursContainer.style.display = 'block';
            localStorage.setItem('toursVisible', 'true');
        } else {
            toursContainer.style.display = 'none';
            localStorage.setItem('toursVisible', 'false');
        }
    });

    document.addEventListener('DOMContentLoaded', function () {
        // проверяем состояние при загрузке страницы
        var toursVisible = localStorage.getItem('toursVisible');
        if (toursVisible === 'true') {
            document.getElementById('toursContainer').style.display = 'block';
        } else {
            document.getElementById('toursContainer').style.display = 'none';
        }
    });

 </script>
